div.gradient {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 38%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
	height: 280px;
	position: absolute;
	width: 100%;
	bottom: 0;
}

div#home {
	div.h1-container {
		height: 160px;
		position: absolute;
		width: 100%;
		bottom: 0;
	}
	h1 {
		width: 50%;
		margin: 0 25%;
		text-align: center;
		.lato-bold;
		font-size: 1.7142857142857142em;
		line-height: 1.3333333333333333em;
		color: @white;
		z-index: 9;
	}
	section#we {
		margin: 66px 0 100px;
		article.three {
			width: 30%;
			margin: 0 1.5%;
			display: inline-block;
		}
		[class^="icon-"] {
			margin: 0 auto;
			font-size: 3em;
			text-align: center;
			display: block;
			color: @black;
		}
	}
	h2, h3, h4 {
		.lato-bold;
		color: @black;
		font-size: 1.5714285714285714em;
		text-align: center;
		text-transform: uppercase;
		padding: 22px 0 12px;
	}
	h5 {
		text-align: center;
		text-transform: uppercase;
		color: @white;
		font-size: 2em;
		padding-bottom: 36px;
		.lato-bold;
	}
	p {
		.lato;
		font-size: 0.8571428571428571em;
		color: @black;
		line-height: 1.5em;
		text-align: center;
	}
	a.btn {
		width: 184px;
		margin-top: 24px;
	}
	section#social {
		padding: 79px 0 105px;
		background: url(/_assets/img/pattern-brown.png) repeat left top transparent;
		div.fb-page, div.twitter {
			display: inline-block;
			width: 30%;
		}
	}
	section#numbers {
		padding: 90px 0 78px;
		article.four {
			width: 20%;
			margin: 0 2.3%;
			display: inline-block;
			text-align: center;
			vertical-align: top;
		}
		p.number {
			font-size: 3.4285714285714284em;
			line-height: 1em;
			color: @green;
			.lato-bold;
		}
		p.header {
			font-size: 1.5714285714285714em;
			line-height: 1.3636363636363638em;
			.lato-bold;
			text-transform: uppercase;
			color: @green;
			padding-bottom: 10px;
		}
		p.desc {
			color: @black;
			.lato;
			font-size: 1.2857142857142856em;
			line-height: 1.3333333333333333em;
		}
	}
	section#work {
		padding: 68px 0 84px;
		background: url(/_assets/img/bkgd-work.jpg) no-repeat center center transparent;
		background-size: cover;
		article.job {
			background-color: @green;
			width: 22%;
			margin: 0 1.3%;
			padding: 20px 1.5%;
			display: inline-block;
			vertical-align: top;
			p {
				color: @white;
				text-align: left;
			}
			p.title {
				.lato-bold;
				font-size: 1.2857142857142856em;
				line-height: 1.222222222222222em;
				padding-bottom: 10px;
				height: 76px;
			}
			p.city {
				padding-bottom: 8px;
			}
			p.location, p.city {
				.lato;
				line-height: 1.1428571428571428em;
				font-size: 1em;
			}
			p.desc {
				.lato-light;
				font-size: 1em;
				line-height: 1.1428571428571428em;
			}
			a.btn {
				width: 100%;
				color: @green;
				background-color: @white;
				&:hover {
					background-color: @brown;
					color: @white;
				}
			}
		}
	}
	section#form {
		padding: 68px 0 100px;
		h5 {
			color: @brown;
		}
		article.option {
			width: 18%;
			height: 70px!important;
			display: inline-block;
			vertical-align: top;
			padding: 20px 1%;
			margin: 0 .8% 20px;
			cursor: pointer;
			background-color: @brown;
			position: relative;
			p {
				.lato;
				font-size: 1em;
				line-height: 1.1em;
				color: #fff;
				text-align: center;
			}
		}
		div#box {
			display: inline-block;
			vertical-align: top;
			width: 58%;
			margin: 0 .8% 20px;
			border: 1px solid @brown;
			min-height: 180px;
			p {
				.lato;
				font-size: 1em;
				color: @brown;
				text-align: center;
				padding-top: 70px;
			}
			&.clue {
				background-color: @green;
				opacity: .1;
			}
		}
		div#form-right {
			display: inline-block;
			width: 38.5%;
		}
		input {
			display: none;
			&#email {
				border: 1px solid @brown;
				display: block;
				width: 99%;
				margin-bottom: 10px;
				height: 90px;
				text-align: center;
				.lato;
				font-size: 1em;
				color: @brown;
			}
		}
		.btn {
			width: 100%;
			padding: 30px 0;
		}
	}
}

























