div#news {
	section.header {
		background: url(/_assets/img/header-news.jpg) no-repeat center center transparent;
		background-size: cover;
		height: 536px;
		position: relative;
	}
	#news-items {
		margin-top: 30px;
		h4 {
			.lato-bold;
			font-size: 1.7142857142857142em;
			line-height: 0.9166666666666666em;
			padding-bottom: 0;
		}
		h5 {
			letter-spacing: 5px;
			color: @green;
			font-size: 1.1428571428571428em;
			line-height: 2em;
			.lato-bold;
			margin-top: 0;
			padding-bottom: 10px;
		}
		h6 {
			.lato;
			font-size: 1.1428571428571428em;
			line-height: 1.375em;
			margin-bottom: 40px;
			a.readmore {
				color: @green;
				text-decoration: underline;
				.lato-bold;
				font-style: italic;
				&:hover {
					color: @grey;
				}
			}
		}
	}
	div#pagination {
		text-align: center;
		.lato;
		letter-spacing: 8px;
		a {
			color: @grey;
			text-decoration: none;
			&.active {
				.lato-bold;
				color: @green;
			}
			&:hover {
				color: @green;
			}
		}
	}
	.btn.row {
		display: inline-block;
	}
	img.logo {
		display: inline-block;
		width: 60%;
		margin-bottom: 40px;
	}
	div.slider {
		display: inline-block;
		width: 20%;
		margin-left: 19%;
		vertical-align: middle;
	}
}

section.newsletters {
	aside.sorter {
		width: 170px;
		min-width: 170px;
	}
	article.item {
		background-color: @black;
		padding: 3%;
		width: 47%;
		margin: 0 1.5% 20px;
		h4 {
			text-align: right;
			.lato-bold;
			color: @white;
			font-size: 1.5em;
			padding-bottom: 20px;
		}
		h5 {
			color: @white;
			font-size: 0.875em;
			.lato;
			line-height: 1.2em;
			padding-bottom: 15px;
		}
		a.btn {
			margin-top: 15px;
			&:hover {
				background-color: @grey;
			}
		}
	}
}

section#news-item {
	padding: 20px;
	h1 {
			.lato-bold;
			font-size: 1.7142857142857142em;
			line-height: 0.9166666666666666em;
			padding-bottom: 20px;
	}
	h2 {
		letter-spacing: 2px;
		color: @green;
		font-size: 1.1428571428571428em;
		line-height: 2em;
		.lato-bold;
		margin-top: 0;
		padding-bottom: 10px;
	}
	h3 {
		letter-spacing: 2px;
		color: @green;
		font-size: 1.1428571428571428em;
		line-height: 2em;
		.lato-bold;
		margin-top: 0;
		a {
			color: @green;
			text-decoration: none;
		}
	}
	h4 {
		letter-spacing: 1px;
		color: @black;
		font-size: 1em;
		line-height: 1.5em;
		.lato-bold;
	}
	.videowrap {
		margin: 30px 0;
	}
	div.img {
		float: right;
		width: 40%;
		margin: 0 0 20px 3%;
		img {
			width: 100%;
		}
		&.full {
			width: 100%;
			margin: 20px 0 20px 0;
			float: none;
		}
	}
	a.next-item {
		display: block;
		text-align: right;
		padding-right: 20px;
		color: @green;
		text-decoration: underline;
		font-style: italic;
		.lato-bold;
		&:hover {
			color: @grey;
		}
	}
	.slider {
		p {
			display: inline-block;
			width: 30%;
		}
		.sponsors-crankin-page-past {
			width: 20%;
			display: inline-block;
			vertical-align: middle;
		}
	}
	table.ice-cream {
		margin-bottom: 30px;
		td, th {
			width: 25%;
			text-align: left;
			color: @black;
			font-size: 1em;
			padding: 1%;
			border: 1px solid @green;
		}
		td {
			.lato;
		}
		th {
			.lato-bold;
		}
	}
	a.btn {
		margin-bottom: 10px;
	}
	ul {
		padding: 0 0 20px 20px;
		li {
			list-style-type: disc;
			color: @black;
			padding: 5px 0 5px 20px;
			.lato;
			font-size: 1.1428571428571428em;
			line-height: 1.375em;
		}
	}
}