section#subpage-nav {
	background-color: @black;
	ul {
		li {
			display: inline-block;
			border-left: 1px solid @white;
			padding: 12px;
			.lato-bold;
			text-transform: uppercase;
			font-size: 0.74em;
			line-height: 1em;
			a {
				color: @white;
				text-decoration: none;
				&:hover {
					color: @grey;
				}
				&:visited {
					color: @grey;
				}
			}
			&:last-child {
				border-right: 1px solid @white;
			}
		}
	}
}