@charset "UTF-8";
/* Eric Meyer's reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0b1 | 201101 
	NOTE: WORK IN PROGRESS
	USE WITH CAUTION AND TEST WITH ABANDON */
/* Use this reset as a starting point, and customize to your needs */
/* Slightly modified to prevent anchor elements from losing outline, as in HTML5 Boilerplate */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
a {
  background: transparent;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Meyer's reset ends here */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.browsehappy {
  height: 10%;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 60px 0;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999;
}
.browsehappy a {
  color: yellow;
  text-decoration: underline;
}
.browsehappyimg {
  z-index: 999999999999999;
  position: absolute;
  left: 48%;
  top: 12%;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.pad-inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
/*==================================================*/
/*=============== MOLECULAR STYLES ================*/
/*===============================================*/
/* (Common Elements that make up bigger groups elements.) */
.lato {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
@font-face {
  font-family: 'icomoon';
  src: url('/_assets/fonts/icomoon.eot?jg8b06');
  src: url('/_assets/fonts/icomoon.eot?#iefixjg8b06') format('embedded-opentype'), url('/_assets/fonts/icomoon.ttf?jg8b06') format('truetype'), url('/_assets/fonts/icomoon.woff?jg8b06') format('woff'), url('/_assets/fonts/icomoon.svg?jg8b06#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-basket:before {
  content: "\e600";
}
.icon-circle:before {
  content: "\e601";
}
.icon-lock:before {
  content: "\e605";
}
.icon-portrait:before {
  content: "\e606";
}
.icon-present:before {
  content: "\e607";
}
.icon-tree:before {
  content: "\e608";
}
html {
  font-size: 14px;
}
body {
  -webkit-font-smoothing: antialiased;
}
.inner {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
a:hover {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.btn {
  background-color: #029494;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 13px 0;
  text-decoration: none;
  border: none;
}
.btn:hover {
  background-color: #4d4d4d;
}
/*=================================================*/
/*================ ORGANIC STYLES ================*/
/*===============================================*/
/* (Groups of elements that are used throughout the site.) */
/******** START MAIN HEADER AND NAVIGATION STYLES *********/
header .inner {
  position: relative;
}
header nav {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
}
header nav a.logo {
  margin-top: 22px;
  display: block;
  width: 151px;
}
header nav a#menu {
  position: absolute;
  right: 0;
  top: 46px;
}
header nav ul {
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -330px;
  text-align: right;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
header nav ul li {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.857142857142857em;
  line-height: 2.6923076923076925em;
}
header nav ul li a {
  text-decoration: none;
  color: #4d4d4d;
}
header nav ul.expand {
  top: 190px;
  height: 360px;
}
div.content {
  background: url(/_assets/img/overlay.png) repeat left top transparent;
  height: 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
div.content.expand {
  height: 100%;
}
/******** END MAIN HEADER AND NAVIGATION STYLES *********/
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider,
.sponsors,
.sponsors-crankin,
.jobs,
.leaders {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li,
.sponsors .slides > li,
.sponsors-crankin .slides > li,
.jobs .slides > li,
.leaders .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img,
.sponsors .slides img,
.sponsors-crankin .slides img,
.jobs .slides img,
.leaders .slides img {
  width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider,
.sponsors {
  position: relative;
  zoom: 1;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
  overflow: hidden;
}
.flexslider .slides {
  zoom: 1;
}
.carousel li {
  margin-right: 5px;
}
/* Direction Nav */
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(/_assets/img/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}
.flex-direction-nav .flex-prev {
  left: -36px;
}
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}
.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}
/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 75px;
  height: 5px;
  display: block;
  background: #029494;
  background: rgba(2, 148, 148, 0.5);
  cursor: pointer;
  text-indent: -9999px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(2, 148, 148, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(2, 148, 148, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
#container {
  margin: 0 2.5%;
  width: 33%;
  display: inline-block;
}
.thumb {
  display: block;
  width: 33.3%;
  height: 132px;
  position: relative;
  float: left;
}
.thumb-wrapper {
  display: block;
  width: 100%;
  height: 100%;
}
.thumb img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
.thumb .thumb-detail {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  font-family: arial;
  font-weight: bold;
  font-size: 16px;
}
.thumb .thumb-detail a {
  display: block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -1px;
  padding: 10px;
  font-size: 18px;
}
/*
	* Without CSS3
	*/
.thumb.scroll {
  overflow: hidden;
}
.thumb.scroll .thumb-detail {
  bottom: -280px;
}
/*
	* CSS3 Flip
	*/
.thumb.flip {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
.thumb.flip .thumb-wrapper {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -moz-transform 1s;
  -o-transition: -moz-transform 1s;
  transition: -moz-transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.thumb.flip .thumb-detail {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.thumb.flip img,
.thumb.flip .thumb-detail {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.thumb.flip .flipIt {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
/******** START MAIN FOOTER STYLES *********/
footer {
  background-color: #029494;
  margin-top: 92px;
  padding: 88px 0 57px;
}
footer div.map {
  width: 30%;
  margin-right: 3.5%;
  display: inline-block;
  vertical-align: top;
}
footer form {
  width: 30%;
  margin-right: 3.5%;
  display: inline-block;
  color: #4d4d4d;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
footer form input {
  width: 92%;
  margin-bottom: 13px;
  height: 25px;
  border: none;
  background-color: #ffffff;
  padding: 10px 4%;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 3px;
}
footer form textarea {
  width: 92%;
  background-color: #ffffff;
  padding: 10px 4%;
  margin-bottom: 13px;
  border: none;
  resize: none;
  height: 120px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 3px;
}
footer form button {
  width: 100%;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  border: none;
  padding: 10px 0;
  display: block;
}
footer form button:hover {
  background-color: #00df83;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
footer div.footer-right {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
footer div.footer-right div.item {
  margin-bottom: 35px;
}
footer div.footer-right div.item a p {
  color: #ffffff;
  display: inline-block;
  width: 85%;
  margin-top: 0;
  text-align: left;
  vertical-align: middle;
  font-size: 1em;
  line-height: 1.3333333333333333em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
footer div.footer-right div.item a:hover p {
  color: #4d4d4d;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
footer div.footer-right div.item span {
  color: #ffffff;
  display: inline-block;
  width: 15%;
  font-size: 2em;
  vertical-align: middle;
}
footer div.footer-right p.ours {
  color: #ffffff;
  margin: 0 0 10px;
  font-size: 1em;
  line-height: 1.3333333333333333em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
footer p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}
footer p a {
  color: #ffffff;
  text-decoration: none;
}
footer p a:hover {
  color: #4d4d4d;
}
/******** END FOOTER STYLES *********/
/*================================================*/
/*================  PAGE STYLES  ================*/
/*==============================================*/
/* (Styles for pages with elements occuring in ways specific to the page.) */
div.gradient {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(38%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-8 */
  height: 280px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
div#home div.h1-container {
  height: 160px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
div#home h1 {
  width: 50%;
  margin: 0 25%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.7142857142857142em;
  line-height: 1.3333333333333333em;
  color: #ffffff;
  z-index: 9;
}
div#home section#we {
  margin: 66px 0 100px;
}
div#home section#we article.three {
  width: 30%;
  margin: 0 1.5%;
  display: inline-block;
}
div#home section#we [class^="icon-"] {
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
  display: block;
  color: #4d4d4d;
}
div#home h2,
div#home h3,
div#home h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #4d4d4d;
  font-size: 1.5714285714285714em;
  text-align: center;
  text-transform: uppercase;
  padding: 22px 0 12px;
}
div#home h5 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2em;
  padding-bottom: 36px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
div#home h6 {
  text-align: center;
  color: #ffffff;
  font-size: 1.7857142857142856em;
  padding-bottom: 46px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
div#home p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0.8571428571428571em;
  color: #4d4d4d;
  line-height: 1.5em;
  text-align: center;
}
div#home a.btn {
  width: 184px;
  margin-top: 24px;
}
div#home section#social {
  padding: 79px 0 105px;
  background: url(/_assets/img/pattern-brown.png) repeat left top transparent;
}
div#home section#social div.fb-page,
div#home section#social div.twitter {
  display: inline-block;
  width: 30%;
}
div#home section#numbers {
  padding: 90px 0 78px;
}
div#home section#numbers article.four {
  width: 20%;
  margin: 0 2.3%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
div#home section#numbers p.number {
  font-size: 3.4285714285714284em;
  line-height: 1em;
  color: #029494;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
div#home section#numbers p.header {
  font-size: 1.5714285714285714em;
  line-height: 1.3636363636363638em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #029494;
  padding-bottom: 10px;
}
div#home section#numbers p.desc {
  color: #4d4d4d;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2857142857142856em;
  line-height: 1.3333333333333333em;
}
div#home section#work {
  padding: 68px 0 84px;
  background: url(/_assets/img/bkgd-work.jpg) no-repeat center center transparent;
  background-size: cover;
}
div#home section#work li.job div.job-inner {
  vertical-align: top;
  display: inline-block;
  width: 90%;
  padding: 20px 10%;
  background-color: #029494;
}
div#home section#work li.job p {
  color: #ffffff;
  text-align: left;
}
div#home section#work li.job p.title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.2857142857142856em;
  line-height: 1.222222222222222em;
  padding-bottom: 10px;
  height: 76px;
}
div#home section#work li.job p.city {
  padding-bottom: 8px;
}
div#home section#work li.job p.location,
div#home section#work li.job p.city {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.1428571428571428em;
  font-size: 1em;
}
div#home section#work li.job p.desc {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.1428571428571428em;
}
div#home section#work li.job a.btn {
  width: 100%;
  color: #029494;
  background-color: #ffffff;
}
div#home section#work li.job a.btn:hover {
  background-color: #706561;
  color: #ffffff;
}
div#home section#form {
  padding: 68px 0 100px;
}
div#home section#form h5 {
  color: #706561;
}
div#home section#form article.option {
  width: 18%;
  height: 70px!important;
  display: inline-block;
  vertical-align: top;
  padding: 20px 1%;
  margin: 0 .8% 20px;
  cursor: pointer;
  background-color: #706561;
  position: relative;
}
div#home section#form article.option p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.1em;
  color: #fff;
  text-align: center;
}
div#home section#form div#box {
  display: inline-block;
  vertical-align: top;
  width: 58%;
  margin: 0 .8% 20px;
  border: 1px solid #706561;
  min-height: 180px;
}
div#home section#form div#box p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #706561;
  text-align: center;
  padding-top: 70px;
}
div#home section#form div#box.clue {
  background-color: #029494;
  opacity: .1;
}
div#home section#form div#form-right {
  display: inline-block;
  width: 38.5%;
}
div#home section#form input {
  display: none;
}
div#home section#form input#email {
  border: 1px solid #706561;
  display: block;
  width: 99%;
  margin-bottom: 10px;
  height: 90px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #706561;
}
div#home section#form .btn {
  width: 100%;
  padding: 30px 0;
}
div#home section#crankin {
  padding: 96px 0;
  background: url(/_assets/img/pattern-brown.png) repeat left top transparent;
}
div#home section#crankin p {
  color: #ffffff;
  text-align: left;
  font-size: 2em;
}
div#home section#crankin p.header {
  line-height: 1.161290322580645em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
div#home section#crankin p.time {
  line-height: 2em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
div#home section#crankin p.place {
  font-size: 1.5714285714285714em;
  line-height: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
div#home section#crankin div.crankin {
  display: inline-block;
  width: 45%;
  margin-right: 4%;
}
div#home section#crankin div.crankin img {
  width: 100%;
}
div#home section#crankin div.right {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
div#home section#crankin .btn {
  width: 185px;
  float: right;
}
div#home section#crankin div.bottom {
  clear: both;
  margin-top: 40px;
}
div#home section#crankin p.sponsors {
  display: inline-block;
  width: 15%;
  margin-right: 3%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.7142857142857142em;
  line-height: 0.9166666666666666em;
}
div#home section#crankin div.slider {
  display: inline-block;
  vertical-align: middle;
  width: 81%;
}
div#home section#leaders {
  padding: 74px 0 92px;
}
div#home section#leaders li.leader div.leader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
div#home section#leaders li.leader p {
  text-align: center;
}
div#home section#leaders li.leader p.name {
  color: #029494;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-top: 10px;
  font-size: 1.4285714285714284em;
  line-height: 1.1500000000000001em;
}
div#home section#leaders li.leader p.title {
  color: #4d4d4d;
  font-size: 1.1428571428571428em;
  line-height: 1.125em;
  width: 80%;
  margin: 0 auto;
}
/*
	Sitemap Styler 	 
*/
#sitemap,
#sitemap ul,
#sitemap li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sitemap {
  background: url(/_assets/img/line1.gif) repeat-y;
}
#sitemap li {
  line-height: 20px;
  margin-top: 1px;
  position: relative;
  width: 100%;
}
/* IE leaves a blank space where span is added so this is to avoid that */
* html #sitemap li {
  float: left;
  display: inline;
}
#sitemap li a {
  padding-left: 28px;
}
#sitemap li span {
  float: left;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 13px;
  height: 13px;
  cursor: auto;
  font-size: 0;
}
#sitemap li span,
#sitemap li span.collapsed {
  background: url(/_assets/img/collapsed.gif) no-repeat 0 0;
}
#sitemap li span.expanded {
  background: url(/_assets/img/expanded.gif) no-repeat 0 0;
}
/* sub levels */
#sitemap li ul {
  margin-left: 28px;
  background: url(/_assets/img/line1.gif) repeat-y;
}
#sitemap li li {
  background: url(/_assets/img/line2.gif) no-repeat 0 0;
}
/* etc. */
/* float fix */
#sitemap:after,
#sitemap ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#sitemap,
#sitemap ul {
  display: block;
}
/*  \*/
#sitemap,
#sitemap ul {
  min-height: 1%;
}
* html #sitemap,
* html #sitemap ul {
  height: 1%;
}
/*  */
#sitemap ul {
  display: none;
}
/*======================================================*/
/*================  RESPONSIVE STYLES  ================*/
/*====================================================*/
/*Contains ALL responsive code. Must be imported last so that it is the last css read.*/
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
