html {
  font-size: 14px;
}
body {
	-webkit-font-smoothing: antialiased;
}

.inner {
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
}

@white:		#ffffff;
@green:		#029494;
@black:		#4d4d4d;
@brown:		#706561;
@grey:		#b7b7b7;

h1 {

}

h2 {

}

h3 {

}

p {

}

a {
	&:hover {
		.transition;
	}
	&.btn {
		background-color: @green;
		color: @white;
		.lato-light;
		letter-spacing: 3px;
		text-transform: uppercase;
		margin: 0 auto;
		display: block;
		text-align: center;
		padding: 13px 0;
		text-decoration: none;
		&:hover {
			background-color: @black;
		}
	}
}