html {
  font-size: 14px;
}
body {
	-webkit-font-smoothing: antialiased;
}

.inner {
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
}

@white:		#ffffff;
@green:		#029494;
@black:		#4d4d4d;
@brown:		#706561;
@grey:		#b7b7b7;

a {
	&:hover {
		.transition;
	}
}

p {
	.lato;
	font-size: 1.1428571428571428em;
	line-height: 1.375em;
	color: @black;
	padding-bottom: 20px;
}

.btn {
	background-color: @green;
	color: @white;
	.lato-light;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 13px 0;
	text-decoration: none;
	border: none;
	&:hover {
		background-color: @black;
	}
}

div.sub {
	h1 {
		text-align: right;
		color: @white;
		text-transform: uppercase;
		position: absolute;
		top: 474px;
		right: 0;
		letter-spacing: 5px;
		font-size: 3.4285714285714284em;
		.lato-bold;
	}
}

section.header {
	margin-bottom: 67px;
}

.header .inner {
	position: relative;
}

div.gradient {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 38%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
	height: 280px;
	position: absolute;
	width: 100%;
	bottom: 0;
}

section.subpage {
	h2 {
		.lato-bold;
		text-transform: uppercase;
		color: @black;
		font-size: 2.8571428571428568em;
		padding-bottom: 22px;
	}
	h3 {
		.lato-bold;
		color: @black;
		font-size: 1.7142857142857142em;
		padding-bottom: 20px;
	}
	h4 {
		.lato;
		color: @black;
		font-size: 1.7857142857142856em;
		padding-bottom: 20px;
	}
	h5 {
		.lato;
		color: @black;
		font-size: 1.7857142857142856em;
		padding-bottom: 20px;
		margin-top: 50px;
	}
	ul {
		padding: 0 0 20px 20px;
		li {
			list-style-type: disc;
			color: @black;
			padding: 5px 0 5px 20px;
			.lato;
			font-size: 1.1428571428571428em;
			line-height: 1.375em;
		}
	}
	.btn {
		width: 185px;
		margin-bottom: 30px;
	}
}

section#bio {
	div.img {
		display: inline-block;
		width: 20%;
		img {
			width: 100%;
		}
	}
	p {
		display: inline-block;
		width: 79%;
		vertical-align: middle;
		padding-bottom: 0;
	}
}

section#crumbs {
	margin-top: 80px;
	height: 20px;
	div.inner {
		position: relative;
	}
	div.left, div.right {
		position: absolute;
		a {
			color: @green;
			text-decoration: underline;
			.lato-bold;
			font-style: italic;
			font-size: 1.2857142857142856em;
			&:hover {
				color: @brown;
			}
		}
	}
	div.left {
		left: 0;
	}
	div.right {
		right: 0;
	}
}
